body 	{ background: #778899; }

h1 	{	font-family: Arial, Helvetica, Sans-serif; font-size:18pt;
	 		color:#FFA07A; font-weight:bold; }

h2 	{	font-family: Arial, Helvetica, Sans-serif; font-size:14pt;
	 		color:#FFA07A; font-weight:bold; }
			
h3 	{	font-family: Arial, Helvetica, Sans-serif; font-size:14pt;
	 		color:#FFA07A; font-weight:bold; }

p	{	font-family: Arial, Helvetica, Sans-serif; font-size:10pt;
	 	color:black; }

p.alert	{ 	font-style: italic; color:red;}

table	{ 	font-family: Arial, Helvetica, Sans-serif; font-size:10pt;
			 	color:#FFA07A; }

td.center{	text-align:center;}

select	{ 	font-family: Arial, Helvetica, Sans-serif; font-size:10pt;
	 			font-weight: bold; color:#FFA07A; background: #778899}

option	{ 	font-family: Arial, Helvetica, Sans-serif; font-size:10pt;
	 			color:#FFA07A; background: #778899}